{% load static %}
{% load mathfilters %}

 <!--Para normal user-->

 <div class="l-gerenciador">
    {% comment %} <button class="c-bnt-gerenciador"> <span> + </span> Novo Pacote </button> {% endcomment %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'meus_pacotes' request.user.pk %}">
    {% else %}
    <a href="{% url 'meus_pacotes' 4 %}">
    {% endif %}
        <button class="c-menu-gerenciador" id='pacotes'>
            <p>
                <span> > </span> PACOTES
            </p>
        </button>
    </a>
            
    <a href="{% url 'em_breve'%}">
        <button class="c-menu-gerenciador" id='enviados'>
            <p>
                <span> > </span> PACOTES ENVIADOS
            </p>
        </button>
    </a>

    <a href="{% url 'em_breve' %}">
        <button class="c-menu-gerenciador" id='historico'>
            <p>
                <span> > </span> HISTÓRICO DE PACOTES
            </p>
        </button>
    </a>

</div>
